name: test
on:
  pull_request:
    branches:
      - '**'
    types: [opened, synchronize, reopened, edited]
  workflow_dispatch:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.21
      - uses: actions/checkout@v3

      - name: testing
        run: 
          go test ./...
